.hide{
    display: none;
}


.hs {
    position: absolute;
    top: 12px;
    left: 12px;
}
.timer {
    position: absolute;
    top: 12px;
    right: 12px;
}

.start-div {
    text-align: center;
}


